@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://use.typekit.net/zoa5dkj.css");
:root {
  --main: #EB4527;
  --black: #050505;
  --bg: #FFFCEF;
  --ttl: "p22-mackinac-pro", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--black);
}

#root {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 0 10rem;
}
@media screen and (max-width: 1079px) {
  .container {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 1.5rem;
  }
}

.section .container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
@media screen and (max-width: 767px) {
  .section .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.bg {
  background-color: var(--bg);
}

.ttl {
  margin-bottom: 5rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.ttl span {
  position: relative;
  font-size: 4.2rem;
  font-family: var(--ttl);
}
@media screen and (max-width: 767px) {
  .ttl span {
    font-size: 3.6rem;
  }
}

.header {
  padding-top: 4rem;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0;
  }
}

.header-icon {
  display: none;
}
@media screen and (max-width: 767px) {
  .header-icon {
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    display: block;
    max-height: 4rem;
    max-width: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    position: fixed;
    top: 0;
    right: -90%;
    z-index: 1;
    height: 100vh;
    width: 90%;
    padding-top: 10rem;
    border-left: 1px solid #DBDBDB;
    background-color: #FFFCEF;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

.open .header-nav {
  right: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.6rem;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .header-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .header-item {
    text-align: center;
  }
}

.header-item a {
  font-size: 1.6rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .header-item a {
    font-size: 2rem;
  }
}

.header-item a:hover {
  color: var(--main);
}

.mv {
  height: calc(100vh - 7rem);
}
@media screen and (max-width: 1079px) {
  .mv {
    height: auto;
    padding: 10rem 0 8rem;
  }
}
@media screen and (max-width: 767px) {
  .mv {
    height: 100vh;
    padding: 0;
  }
}

.mv .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.mv-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mv-ttl {
  text-align: center;
  font-size: 4.0263543192vw;
  font-weight: bold;
}
@media screen and (max-width: 1079px) {
  .mv-ttl {
    font-size: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .mv-ttl {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .mv-ttl__pc {
    display: none;
  }
}

.mv-ttl__sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .mv-ttl__sp {
    display: block;
    line-height: 1.6;
  }
}

.mv-ttl__line {
  display: block;
  margin-bottom: 1.6rem;
}

.mv-ttl__serif {
  position: relative;
  font-family: var(--ttl);
  color: var(--main);
}

.mv-ttl__serif-dev::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%23FFDB00' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1.7s linear;
          animation: waveAnimation 1.7s linear;
}
@media screen and (max-width: 767px) {
  .mv-ttl__serif-dev::before {
    display: none;
  }
}

.mv-ttl__serif-design::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%23FFDB00' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1s linear;
          animation: waveAnimation 1s linear;
}
@media screen and (max-width: 767px) {
  .mv-ttl__serif-design::before {
    display: none;
  }
}

.mv-icons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 4rem 0 3rem;
}
@media screen and (max-width: 767px) {
  .mv-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
  }
}

.mv-icons img {
  position: relative;
  max-width: 5rem;
  max-height: 5.6rem;
  -webkit-animation: icon0 0.2s ease-in forwards, icon1 0.2s 0.3s ease-in forwards, icon2 0.2s 0.6s ease-in forwards, icon3 0.2s 0.9s ease-in forwards, icon4 0.2s 1.2s ease-in forwards, icon5 0.2s 1.5s ease-in forwards, icon6 0.2s 1.8s ease-in forwards, icon7 0.2s 2.1s ease-in forwards, icon8 0.2s 2.4s ease-in forwards, icon9 0.2s 2.7s ease-in forwards, icon10 0.2s 3s ease-in forwards, icon11 0.2s 3.3s ease-in forwards;
          animation: icon0 0.2s ease-in forwards, icon1 0.2s 0.3s ease-in forwards, icon2 0.2s 0.6s ease-in forwards, icon3 0.2s 0.9s ease-in forwards, icon4 0.2s 1.2s ease-in forwards, icon5 0.2s 1.5s ease-in forwards, icon6 0.2s 1.8s ease-in forwards, icon7 0.2s 2.1s ease-in forwards, icon8 0.2s 2.4s ease-in forwards, icon9 0.2s 2.7s ease-in forwards, icon10 0.2s 3s ease-in forwards, icon11 0.2s 3.3s ease-in forwards;
}
@media screen and (max-width: 767px) {
  .mv-icons img {
    max-width: 3.6rem;
    max-height: 4rem;
  }
}

@-webkit-keyframes icon0 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 60rem;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 55rem;
  }
}

@keyframes icon0 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: 60rem;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 55rem;
  }
}
@-webkit-keyframes icon1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 55rem;
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50rem;
  }
}
@keyframes icon1 {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: 55rem;
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50rem;
  }
}
@-webkit-keyframes icon2 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50rem;
  }
  100% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: 45rem;
  }
}
@keyframes icon2 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: 50rem;
  }
  100% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: 45rem;
  }
}
@-webkit-keyframes icon3 {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: 45rem;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 40rem;
  }
}
@keyframes icon3 {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: 45rem;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 40rem;
  }
}
@-webkit-keyframes icon4 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 40rem;
  }
  100% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 35rem;
  }
}
@keyframes icon4 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: 40rem;
  }
  100% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 35rem;
  }
}
@-webkit-keyframes icon5 {
  0% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 35rem;
  }
  100% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: 30rem;
  }
}
@keyframes icon5 {
  0% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 35rem;
  }
  100% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: 30rem;
  }
}
@-webkit-keyframes icon6 {
  0% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: 30rem;
  }
  100% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: 25rem;
  }
}
@keyframes icon6 {
  0% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: 30rem;
  }
  100% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: 25rem;
  }
}
@-webkit-keyframes icon7 {
  0% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: 25rem;
  }
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
    left: 20rem;
  }
}
@keyframes icon7 {
  0% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: 25rem;
  }
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
    left: 20rem;
  }
}
@-webkit-keyframes icon8 {
  0% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
    left: 20rem;
  }
  100% {
    -webkit-transform: rotate(-810deg);
            transform: rotate(-810deg);
    left: 15rem;
  }
}
@keyframes icon8 {
  0% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
    left: 20rem;
  }
  100% {
    -webkit-transform: rotate(-810deg);
            transform: rotate(-810deg);
    left: 15rem;
  }
}
@-webkit-keyframes icon9 {
  0% {
    -webkit-transform: rotate(-810deg);
            transform: rotate(-810deg);
    left: 15rem;
  }
  100% {
    -webkit-transform: rotate(-900deg);
            transform: rotate(-900deg);
    left: 10rem;
  }
}
@keyframes icon9 {
  0% {
    -webkit-transform: rotate(-810deg);
            transform: rotate(-810deg);
    left: 15rem;
  }
  100% {
    -webkit-transform: rotate(-900deg);
            transform: rotate(-900deg);
    left: 10rem;
  }
}
@-webkit-keyframes icon10 {
  0% {
    -webkit-transform: rotate(-900deg);
            transform: rotate(-900deg);
    left: 10rem;
  }
  100% {
    -webkit-transform: rotate(-990deg);
            transform: rotate(-990deg);
    left: 5rem;
  }
}
@keyframes icon10 {
  0% {
    -webkit-transform: rotate(-900deg);
            transform: rotate(-900deg);
    left: 10rem;
  }
  100% {
    -webkit-transform: rotate(-990deg);
            transform: rotate(-990deg);
    left: 5rem;
  }
}
@-webkit-keyframes icon11 {
  0% {
    -webkit-transform: rotate(-990deg);
            transform: rotate(-990deg);
    left: 5rem;
  }
  100% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
    left: 0rem;
  }
}
@keyframes icon11 {
  0% {
    -webkit-transform: rotate(-990deg);
            transform: rotate(-990deg);
    left: 5rem;
  }
  100% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
    left: 0rem;
  }
}
@-webkit-keyframes icon12 {
  0% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
    left: 0rem;
  }
  100% {
    -webkit-transform: rotate(-1170deg);
            transform: rotate(-1170deg);
    left: -5rem;
  }
}
@keyframes icon12 {
  0% {
    -webkit-transform: rotate(-1080deg);
            transform: rotate(-1080deg);
    left: 0rem;
  }
  100% {
    -webkit-transform: rotate(-1170deg);
            transform: rotate(-1170deg);
    left: -5rem;
  }
}
@-webkit-keyframes icon13 {
  0% {
    -webkit-transform: rotate(-1170deg);
            transform: rotate(-1170deg);
    left: -5rem;
  }
  100% {
    -webkit-transform: rotate(-1260deg);
            transform: rotate(-1260deg);
    left: -10rem;
  }
}
@keyframes icon13 {
  0% {
    -webkit-transform: rotate(-1170deg);
            transform: rotate(-1170deg);
    left: -5rem;
  }
  100% {
    -webkit-transform: rotate(-1260deg);
            transform: rotate(-1260deg);
    left: -10rem;
  }
}
@-webkit-keyframes icon14 {
  0% {
    -webkit-transform: rotate(-1260deg);
            transform: rotate(-1260deg);
    left: -10rem;
  }
  100% {
    -webkit-transform: rotate(-1350deg);
            transform: rotate(-1350deg);
    left: -15rem;
  }
}
@keyframes icon14 {
  0% {
    -webkit-transform: rotate(-1260deg);
            transform: rotate(-1260deg);
    left: -10rem;
  }
  100% {
    -webkit-transform: rotate(-1350deg);
            transform: rotate(-1350deg);
    left: -15rem;
  }
}
@-webkit-keyframes icon15 {
  0% {
    -webkit-transform: rotate(-1350deg);
            transform: rotate(-1350deg);
    left: -15rem;
  }
  100% {
    -webkit-transform: rotate(-1440deg);
            transform: rotate(-1440deg);
    left: -20rem;
  }
}
@keyframes icon15 {
  0% {
    -webkit-transform: rotate(-1350deg);
            transform: rotate(-1350deg);
    left: -15rem;
  }
  100% {
    -webkit-transform: rotate(-1440deg);
            transform: rotate(-1440deg);
    left: -20rem;
  }
}
@-webkit-keyframes icon16 {
  0% {
    -webkit-transform: rotate(-1440deg);
            transform: rotate(-1440deg);
    left: -20rem;
  }
  100% {
    -webkit-transform: rotate(-1530deg);
            transform: rotate(-1530deg);
    left: -25rem;
  }
}
@keyframes icon16 {
  0% {
    -webkit-transform: rotate(-1440deg);
            transform: rotate(-1440deg);
    left: -20rem;
  }
  100% {
    -webkit-transform: rotate(-1530deg);
            transform: rotate(-1530deg);
    left: -25rem;
  }
}
@-webkit-keyframes icon17 {
  0% {
    -webkit-transform: rotate(-1530deg);
            transform: rotate(-1530deg);
    left: -25rem;
  }
  100% {
    -webkit-transform: rotate(-1620deg);
            transform: rotate(-1620deg);
    left: -30rem;
  }
}
@keyframes icon17 {
  0% {
    -webkit-transform: rotate(-1530deg);
            transform: rotate(-1530deg);
    left: -25rem;
  }
  100% {
    -webkit-transform: rotate(-1620deg);
            transform: rotate(-1620deg);
    left: -30rem;
  }
}
@-webkit-keyframes js0 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: -30rem;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -25rem;
  }
}
@keyframes js0 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: -30rem;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: -25rem;
  }
}
@-webkit-keyframes js1 {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: -25rem;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -20rem;
  }
}
@keyframes js1 {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: -25rem;
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -20rem;
  }
}
@-webkit-keyframes js2 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: -20rem;
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: -15rem;
  }
}
@keyframes js2 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: -20rem;
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    left: -15rem;
  }
}
@-webkit-keyframes js3 {
  0% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: -15rem;
  }
  100% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: -10rem;
  }
}
@keyframes js3 {
  0% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: -15rem;
  }
  100% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    left: -10rem;
  }
}
@-webkit-keyframes js4 {
  0% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: -10rem;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: -5rem;
  }
}
@keyframes js4 {
  0% {
    -webkit-transform: rotate(-540deg);
            transform: rotate(-540deg);
    left: -10rem;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    left: -5rem;
  }
}
@-webkit-keyframes js5 {
  0% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: -5rem;
  }
  100% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 0rem;
  }
}
@keyframes js5 {
  0% {
    -webkit-transform: rotate(-630deg);
            transform: rotate(-630deg);
    left: -5rem;
  }
  100% {
    -webkit-transform: rotate(-450deg);
            transform: rotate(-450deg);
    left: 0rem;
  }
}
@-webkit-keyframes jsBack {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes jsBack {
  0% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.js {
  -webkit-animation: icon0 0.2s ease-in forwards, icon1 0.2s 0.3s ease-in forwards, icon2 0.2s 0.6s ease-in forwards, icon3 0.2s 0.9s ease-in forwards, icon4 0.2s 1.2s ease-in forwards, icon5 0.2s 1.5s ease-in forwards, icon6 0.2s 1.8s ease-in forwards, icon7 0.2s 2.1s ease-in forwards, icon8 0.2s 2.4s ease-in forwards, icon9 0.2s 2.7s ease-in forwards, icon10 0.2s 3s ease-in forwards, icon11 0.2s 3.3s ease-in forwards, icon12 0.2s 3.6s ease-in forwards, icon13 0.2s 3.9s ease-in forwards, icon14 0.2s 4.2s ease-in forwards, icon15 0.2s 4.5s ease-in forwards, icon16 0.2s 4.8s ease-in forwards, icon17 0.2s 5.1s ease-in forwards, js0 0.1s 6.4s ease-in forwards, js1 0.1s 6.5s ease-in forwards, js2 0.1s 6.6s ease-in forwards, js3 0.1s 6.7s ease-in forwards, js4 0.1s 6.8s ease-in forwards, js5 0.1s 6.9s ease-in forwards, jsBack 0.1s 8s ease-in forwards !important;
          animation: icon0 0.2s ease-in forwards, icon1 0.2s 0.3s ease-in forwards, icon2 0.2s 0.6s ease-in forwards, icon3 0.2s 0.9s ease-in forwards, icon4 0.2s 1.2s ease-in forwards, icon5 0.2s 1.5s ease-in forwards, icon6 0.2s 1.8s ease-in forwards, icon7 0.2s 2.1s ease-in forwards, icon8 0.2s 2.4s ease-in forwards, icon9 0.2s 2.7s ease-in forwards, icon10 0.2s 3s ease-in forwards, icon11 0.2s 3.3s ease-in forwards, icon12 0.2s 3.6s ease-in forwards, icon13 0.2s 3.9s ease-in forwards, icon14 0.2s 4.2s ease-in forwards, icon15 0.2s 4.5s ease-in forwards, icon16 0.2s 4.8s ease-in forwards, icon17 0.2s 5.1s ease-in forwards, js0 0.1s 6.4s ease-in forwards, js1 0.1s 6.5s ease-in forwards, js2 0.1s 6.6s ease-in forwards, js3 0.1s 6.7s ease-in forwards, js4 0.1s 6.8s ease-in forwards, js5 0.1s 6.9s ease-in forwards, jsBack 0.1s 8s ease-in forwards !important;
}

.mv-btn {
  position: relative;
  display: inline-block;
  max-width: 28rem;
  width: 100%;
  height: 6rem;
  background-color: var(--main);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  line-height: 6rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .mv-btn {
    height: 5rem;
    margin-top: 6rem;
    line-height: 5rem;
  }
}

.mv-btn::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (hover: hover) {
  .mv-btn:hover {
    top: 5px;
  }
  .mv-btn:hover::before {
    top: 0;
    right: 0;
  }
}

.about .ttl-wave::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%23EB4527' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1s linear;
          animation: waveAnimation 1s linear;
}

.about-txt {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  font-weight: bold;
}

.about-img {
  display: block;
  max-width: 12rem;
  width: 100%;
  margin: 0 auto 2rem;
}

.works.WORKS .ttl-wave::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%2363EB27' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1s linear;
          animation: waveAnimation 1s linear;
}

.works.PERSONAL .ttl-wave::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%23276BEB' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1s linear;
          animation: waveAnimation 1s linear;
}

.works-lists {
  display: grid;
  gap: 6.4rem 3%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
}
@media screen and (max-width: 767px) {
  .works-lists {
    gap: 4rem 0;
  }
}

.works-item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .works-item {
    width: 90%;
  }
}

.works-item:hover {
  top: -10px;
}

.works-img {
  width: 100%;
  border: 1px solid #ebebeb;
}

.works-name {
  margin-top: 1.2rem;
  font-weight: bold;
}

.works-skills {
  margin-top: 0.5rem;
  line-height: 1;
}

.works-skills span {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  color: #9A9A9A;
  word-wrap: break-word;
}

.contact .ttl-wave::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background-repeat: repeat-x;
  background-image: url("data:image/svg+xml,%3Csvg height='9.392' viewBox='0 0 33.739 9.392' width='33.739' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m161.5 825.348c8.609 0 8.456-6.392 16.89-6.392s8.187 6.392 16.848 6.392' fill='none' stroke='%23EB27B6' stroke-width='3' transform='translate(-161.498 -817.455)'/%3E%3C/svg%3E");
  -webkit-animation: waveAnimation 1s linear;
          animation: waveAnimation 1s linear;
}

.contact-txt {
  text-align: center;
  font-family: var(--ttl);
  font-size: 2.8rem;
}
@media screen and (max-width: 767px) {
  .contact-txt {
    font-size: 2.4rem;
  }
}
.contact-txt span {
  color: #EB4527;
}

.contact-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 2.8rem;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.6rem;
}

.footer-item a {
  line-height: 6rem;
  color: #868686;
  font-size: 1.4rem;
}

.detail {
  padding-bottom: 8rem;
}

.detail-name {
  font-size: 3.6rem;
  font-family: var(--ttl);
  text-align: center;
  line-height: 2;
}

.detail-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.detail-link {
  display: block;
  text-align: center;
  color: #868686;
  text-decoration: underline;
}

.detail-github img {
  width: 3rem;
}

.detail img {
  display: block;
}

.detail-img1 {
  margin: 8rem auto;
  width: 50%;
}

.detail-img2 {
  margin: 8rem auto;
  width: 80%;
}

.detail-table {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}
.detail-table th, .detail-table td {
  padding: 1.5rem 0;
}
.detail-table th {
  padding-right: 2rem;
}
.detail-table td span {
  display: inline-block;
}

.detail-btn {
  display: block;
  text-align: center;
  color: #868686;
  text-decoration: underline;
}

@-webkit-keyframes waveAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes waveAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}